<div class="mt-4">
    <div>
        <h2>Khóa học đã xóa</h2>
        <a href = "/me/stored/courses">Danh sách khóa học</a>
    </div>


    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">videoID</th>
                <th scope="col" colspan="3">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.videoID}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-success btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCourseModal"
                        data-bs-id="{{this._id}}">Xóa vĩnh viễn</a>
                </td>
            </tr>

            {{else}}
                <td colspan="5" class="text-center">
                    Thùng rác trống...
                </td>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- hidden form for delete course --}}
<form method="POST" name="delete-form"></form>

{{!-- hidden form for restore course --}}
<form method="POST" name="restore-form"></form>

<!-- Delete course modal -->
<div class="modal fade" id="deleteCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">-- Xóa vĩnh viễn khóa học? --</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có muốn xóa khóa học này? 
                <br>
                Hành động này sẽ không thể được khôi phục!!
            </div>
            <div class="modal-footer">
                <button id = "btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteCourseModal = document.getElementById('deleteCourseModal')
    var deleteCourseBtn = document.getElementById('btn-delete-course')
    var deleteForm = document.forms['delete-form']
    var restoreForm = document.forms['restore-form']
    var deleteID
    var restoreBtn = $('.btn-restore')

    // click xóa trên ds -> hiển thị modal xác nhận xóa
    deleteCourseModal.addEventListener('show.bs.modal', function (event) {
        
        var button = event.relatedTarget
        
        deleteID = button.getAttribute('data-bs-id')
    })

    // click xóa trên model -> xác nhận xóa
    deleteCourseBtn.onclick = () => {
        deleteForm.action = '/courses/' + deleteID + '/force/?_method=DELETE'
        deleteForm.submit()
    }

    // restore button click
    restoreBtn.click(function(e) {
        e.preventDefault()
        
        var courseID = $(this).data('id')

        restoreForm.action = '/courses/' + courseID + '/restore?_method=PATCH'
        restoreForm.submit()
    })
    
</script>